.component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.input-fields {
    align-self: center;
}
.input-fields{
    width: 80%;
    max-width: 350px;
}
.login-fields{
    width: 100%;
}