html{
    background-color: #222629;
}
.component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.form-control{ 
    font-size: 16pt;
}
.input-fields, .register-fields {
    align-self: center;
}
.login-fields{
    width: 100%;
}
.register-fields {
    width: 100%;
    max-width: 600px;
}
.slider {
    margin-top: -20px;
}
.description {
    margin: 0;
}
.not-found{
    font-family: 'Times New Roman', Times, serif;
    font-size: 56pt;
}
.hyperlink {
    color: blue;
    text-decoration: underline;
}
.lead {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}
.btn-control{
    margin: 5px;
}
#not-found-icon{
    height: 150px;
    width: auto;
}
#not-found-text{
    margin-top: -20px;
}
#user-redirect {
    font-size: 18px;
    margin-bottom: 15px;
}
