
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    height: 150px;
    width: 100%;
    font-size: 32pt;
    background-color:#222629;
    color: white;
}
.subheading{
    font-size: 18pt;
}
.btn{
    width: 175px;
    align-self: center;
    background-color: #222629;
    color: white;
}
.btn:hover{
    background-color: #6B6E70 !important;
}
.btn-modal{
    width: 125px;
}
.redirect{
    background: none !important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
.navbar {
    background-color: #61892F;
    margin-bottom: 20px;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
}
.nav-link {
    background-color: transparent;
    border: none;
    color: white !important;
}
.dropdown-item{
    margin-bottom: 5px;
}
.dropdown-item:hover {
    background-color: #DCDCDC;
    background-image: none;
    color: black; 
}